.container{
    background-color:rgb(89, 137, 179);
    height:98vh;
    justify-content: center;
    align-items: center;
    display: flex;   
}
.inner-container{
    height: 490px;
    width: 400px;
    border-radius: 10px;
    border: px solid rgb(160, 199, 234);
}
.result-container{
    height: 80px;
    width: 400px;   
}
#result--container{
    font-size: 35px;
    margin-left: 3px;
    margin-top: 2px;
    width: 390px;
    height: 100px;
    border-radius: 10px;
    border: none;
    color: rgb(160, 199, 234);
    text-align: center;
    background-color: rgba(31, 67, 117, 0.763);
}
.btns-container{
    width: 400px;
    height: 350px; 
    margin-top: 30px;  
    border-radius: 18px;
}
.row {
    justify-content: space-between;
    display: flex;    
}
.row button{
    width: 100px;
    height: 80px;
    font-size: 30px;
    border-radius: 25%;
    cursor: pointer;
    margin:5px;
    border: none;
    background-color: rgb(160, 199, 234);
    box-shadow: 10px 500px 100px 4px aliceblue;
    color: rgb(10, 116, 158);
}
button:hover{
    background-color: rgba(39, 69, 111, 0.763);
    transition: 1s;   
    color: black; 
    font-size: 35px;
}
#equal{
    width: 180px;
    border-radius: 22px;
    color:aliceblue;
    background-color: rgba(39, 69, 111, 0.763);
}
#equal:hover{
    font-size: 40px;
}


span {
    position: absolute;
    border-radius: 100vmax;
  }
  
  .top {
    top: 0;
    left: 0;
    width: 0;
    height: 5px;
    background: linear-gradient(
      90deg,
      transparent 50%,
      rgba(39, 69, 111, 0.763),rgba(39, 69, 111, 0.763)
    );
  }
  
  .bottom {
    right: 0;
    bottom: 0;
    height: 5px;
    background: linear-gradient(
      90deg,
      rgba(39, 69, 111, 0.763),rgba(39, 69, 111, 0.763),
      transparent 50%
    );
  }
  
  .right {
    top: 0;
    right: 0;
    width: 10px;
    height: 0;
    background: linear-gradient(
      180deg,
      transparent 30%,
      rgba(39, 69, 111, 0.763),rgba(39, 69, 111, 0.763)
    );
  }
  
  .left {
    left: 0;
    bottom: 0;
    width: 10px;
    height: 0;
    background: linear-gradient(
      180deg,
      rgba(39, 69, 111, 0.763),rgba(39, 69, 111, 0.763),
      transparent 70%
    );
  }
  
  .top {
    animation: animateTop 2s ease-in-out infinite;
  }
  
  .bottom {
    animation: animateBottom 2s ease-in-out infinite;
  }
  
  .right {
    animation: animateRight 2s ease-in-out infinite;
  }
  
  .left {
    animation: animateLeft 2s ease-in-out infinite;
  }
  
  @keyframes animateTop {
    25% {
      width: 100%;
      opacity: 1;
    }
  
    30%,
    100% {
      opacity: 0;
    }
  }
  
  @keyframes animateBottom {
    0%,
    50% {
      opacity: 0;
      width: 0;
    }
  
    75% {
      opacity: 1;
      width: 100%;
    }
  
    76%,
    100% {
      opacity: 0;
    }
  }
  
  @keyframes animateRight {
    0%,
    25% {
      opacity: 0;
      height: 0;
    }
  
    50% {
      opacity: 1;
      height: 100%;
    }
  
    55%,
    100% {
      height: 100%;
      opacity: 0;
    }
  }
  
  @keyframes animateLeft {
    0%,
    75% {
      opacity: 0;
      bottom: 0;
      height: 0;
    }
  
    100% {
      opacity: 1;
      height: 100%;
    }
  }
